In [1]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv(r"C:\Users\flpas\OneDrive - Connection Systems Development\large_files\python_for_DA\survey_results_public.csv", index_col="ResponseId")
schema_df = pd.read_csv(r"C:\Users\flpas\OneDrive - Connection Systems Development\large_files\python_for_DA\survey_results_schema.csv", index_col="qname")

In [97]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 1000)

In [85]:
schema_df_sorted = schema_df.sort_index()
df_filt = df.loc[:, ['Age', 'Employment', 'RemoteWork', 'Country', 'CompTotal', 'LanguageWantToWorkWith', 'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith', 'WebframeWantToWorkWith']]
# df.head()
# df.columns
df_filt

,Age,Employment,RemoteWork,Country,CompTotal,LanguageWantToWorkWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,WebframeWantToWorkWith
ResponseId,,,,,,,,,
1,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25-34 years old,"Employed, full-time",Remote,United States of America,2.850000e+05,Bash/Shell (all shells);C#;Dart;Elixir;GDScrip...,Firebase Realtime Database;Supabase,Amazon Web Services (AWS);Netlify;Vercel,Deno;Elm;Nuxt.js;React;Svelte;Vue.js
3,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",United States of America,2.500000e+05,Haskell;OCaml;Rust,NaN,Amazon Web Services (AWS);Google Cloud;OpenSta...,NaN
4,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",United States of America,1.560000e+05,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,PostgreSQL;Redis,Cloudflare;Heroku,Node.js;Ruby on Rails;Vue.js
5,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Philippines,1.320000e+06,HTML/CSS;JavaScript;Python;Rust;TypeScript,Elasticsearch;MongoDB;PostgreSQL;Redis;Supabase,Amazon Web Services (AWS);Firebase;Heroku;Netl...,Express;NestJS;Next.js;Node.js;React;Remix;Vue.js
...,...,...,...,...,...,...,...,...,...
89180,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Brazil,2.000000e+05,Bash/Shell (all shells);C;Go;HTML/CSS;JavaScri...,PostgreSQL;SQLite,Digital Ocean;Firebase;Google Cloud;Heroku;Vercel,Express;Node.js;Nuxt.js;Svelte;Vue.js
89181,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",Romania,NaN,Java;JavaScript;Python;SQL;TypeScript,PostgreSQL,NaN,Spring Boot
89182,Prefer not to say,I prefer not to say,NaN,Israel,NaN,Python;Rust,NaN,Amazon Web Services (AWS),NaN
89183,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Switzerland,NaN,Bash/Shell (all shells);HTML/CSS;JavaScript;Po...,Cassandra;Cosmos DB;Dynamodb;MariaDB;Microsoft...,Amazon Web Services (AWS);Cloudflare;Google Cl...,Angular;AngularJS;Express;Next.js;Node.js;Reac...
89184,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)","Iran, Islamic Republic of...",3.300000e+09,C#;Go;JavaScript;SQL;TypeScript,Microsoft SQL Server;Redis;SQLite,Hetzner,Angular;ASP.NET;ASP.NET CORE;Blazor;Deno;Node....

In [108]:

# lng = ['Python', 'python']
lng_prog = (df_filt['LanguageWantToWorkWith'].str.contains('Python', 'python'))
lng_prog.value_counts()

LanguageWantToWorkWith
False    45994
True     34715
Name: count, dtype: int64